

<div class="">
    <h1>Iniciar Sesión</h1>
    <form action="" method="post">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" placeholder="Ingrese su nombre de usuario">
        <br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña">
        <br>
        <br>
        <button type="submit">Iniciar Sesión</button>
        <button type="button" onclick="window.location.href=''">Registrarse</button>
    </form>
</div>



